<!DOCTYPE html>
<html lang="en">

 <% include ./partials/_headers %>

<body>

  <body style="font-size:20px; padding:50px;">
    Login
    <form action="/login" method="POST" style="margin:150px;">
      <label for="email">Email </label>
      <input id="email" type="email" name="email">
      <input id="email" type="password" name="password">
      <input type="submit" value="Login">
    </form>

</body>
</html>
