<!DOCTYPE html>
<html lang="en">

 <% include ./partials/_headers %>

<body>
    <!-- Add your EJS code here -->

    Register => <form method="GET" action="/register">
      <input type="submit" value="register"/>
        </form>



    <ul>

      <% for(url in urls) { %>
      <li> <%= url %> =>  <%= urls[url] %>
          <a href="/urls/<%= url %>">
            Edit
          </a>
         <form method="POST" action="/urls/<%= url %>/delete">
           <input type="submit" value="Delete Me"/>
         </form>
      </li>
      <% }%>
    </ul>
</body>
</html>
